<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrafficGrapher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <TrafficGrapher.Properties.Settings>
            <setting name="IpAddress" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="SnmpCommunity" serializeAs="String">
                <value>public</value>
            </setting>
            <setting name="Index" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="OutColor" serializeAs="String">
                <value>Darkblue</value>
            </setting>
            <setting name="CounterType" serializeAs="String">
                <value>Counter64</value>
            </setting>
            <setting name="CounterUnit" serializeAs="String">
                <value>Bits</value>
            </setting>
            <setting name="PollInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DefaultTimeSpan" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CounterPrefix" serializeAs="String">
                <value>Mega</value>
            </setting>
            <setting name="DarkModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </TrafficGrapher.Properties.Settings>
    </userSettings>
</configuration>
